@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,600;0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 64px;
    color: #0A2140;
}

body{
    display: flex;
    background-image: url("./images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.tempo{
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.um{
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding: 20px;
    border-radius: 20px;
    background-color: #205a8c69;
    box-shadow: 0px 0.1px 5px #205A8C;
}

.um .time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.781);
    background-color: #59b5d9;
    padding: 20px;
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

a, #github{
    display: flex;
    position: relative;
    bottom: -95px;
    color: white;
}


@media(max-width: 605px){
    .um{
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .um .time{
        margin: 10px;
    }
    a, #github{
        bottom: 0px;
    }
}

@media (max-height: 500px) {
    a, #github{
        bottom: 0px;
    }
}
